<div class="min-h-screen flex bg-gray-100">


  <!-- Main Content -->
  <main class="flex-1 p-10">
    <div class="bg-white p-8 rounded-xl shadow-md w-full">
      <h2 class="text-2xl font-semibold text-gray-700 mb-6 text-center">Project List</h2>

      <!-- Spinner -->
      <div *ngIf="isLoading" class="text-center my-10">
        <div class="animate-spin rounded-full h-10 w-10 border-t-4 border-black mx-auto"></div>
        <p class="mt-2 text-gray-600">Loading projects...</p>
      </div>

      <!-- Summary Cards -->
      <div *ngIf="projects.length > 0 && !isLoading" class="grid grid-cols-2 sm:grid-cols-3 gap-5 mb-8">
        <div class="bg-green-200 p-12 rounded-xl shadow text-center min-h-[200px]">
          <p class="text-2xl font-bold">{{ totalProjects }}</p>
          <p class="text-sm text-gray-700">Total Projects</p>
        </div>
        <div class="bg-blue-200 p-12 rounded-xl shadow text-center min-h-[200px]">
          <p class="text-2xl font-bold">{{ inProgressProjects }}</p>
          <p class="text-sm text-gray-700">In Progress</p>
        </div>
        <div class="bg-purple-200 p-12 rounded-xl shadow text-center min-h-[200px]">
          <p class="text-2xl font-bold">{{ completedProjects }}</p>
          <p class="text-sm text-gray-700">Completed</p>
        </div>
      </div>

      <!-- Create Project Button -->
      <div class="flex justify-end mb-4" *ngIf="userRole ==='admin' || userRole === 'project_manager'">
        <button [routerLink]="['/projects/create']"
          class="bg-black text-white px-6 py-2 rounded-lg hover:bg-green-800 transition hover:scale-105 transition-all duration-300 ease-in-out">
          + Create Project
        </button>
      </div>

      <!-- No Projects -->
      <div *ngIf="projects.length === 0 && !isLoading" class="text-center text-gray-600">
        <p class="text-lg font-medium">No projects found. Please add some projects.</p>
      </div>

      <!-- Project List -->
      <ul *ngIf="projects.length > 0 && !isLoading" class="space-y-4">
        <li *ngFor="let project of projects"
            class="bg-gray-200 p-4 rounded-lg shadow transform transition-transform duration-300 hover:scale-[1.01]">
          <div>
            <strong class="text-lg text-black">{{ project.name }}</strong> -
            <span class="text-sm text-gray-700">{{ project.status }}</span>
            <p class="text-gray-600 mt-2">{{ project.description }}</p>
            <div class="mt-4 flex flex-wrap gap-3">
              <button [routerLink]="[`/projects/${project.id}`]"
                class="bg-black text-white px-6 py-2 rounded-lg transition hover:scale-105 hover:bg-green-800">
                View
              </button>
              <ng-container *ngIf="userRole ==='admin' || userRole === 'project_manager'">
              <button (click)="deleteProject(project.id)"
                class="bg-black text-white px-6 py-2 rounded-lg transition hover:scale-105 hover:bg-red-800">
                Delete
              </button>
              <button [routerLink]="[`/projectsEdit/${project.id}`]"
                class="bg-black text-white px-8 py-2 rounded-lg transition hover:scale-105 hover:bg-green-800">
                Edit
              </button>
            </ng-container>
              <button [routerLink]="['/tasks', project.id]"
                class="bg-black text-white px-6 py-2 rounded-lg transition hover:scale-105 hover:bg-indigo-800">
                View Tasks
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </main>
</div>
