<nav class="bg-black p-6 shadow-lg ">
    <div class="flex justify-between items-center max-w-7xl mx-auto flex items-end">
      <!-- Make the "Project Management System" text left-aligned -->
      <div class="text-white text-xl font-bold flex-frow">
        <h1>Project Management System</h1> <!-- Adjust margin to left -->
      </div>
      
      <!-- Logout Button Section -->
      <div class="flex space-x-6">
        <button *ngIf="userService.isLoggedIn()" (click)="logout()" class="text-white hover:text-gray-300 flex items-center">
          <i class="fas fa-sign-out-alt mr-2"></i> Logout
        </button>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet> <!-- This is where the routed component will appear -->
  